# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignoring all folders in node_modules except icons-material
node_modules/**
!node_modules/
!node_modules/@mui/
node_modules/@mui/**
!node_modules/@mui/icons-material/

# Dist directories
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
