h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
}

.course-sad {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.light-mode {
  background-color: #ffffff;
  color: #213547;
}

.dark-mode {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
