h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.course-sad {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light-mode {
  background-color: #ffffff;
  color: #213547;
}

.dark-mode {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
